@import '~bootstrap/dist/css/bootstrap.min.css';

.header > img {
    max-height: 100px;
    max-width: 100px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 1rem;
}

.imgBig {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 1rem;
}